/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display:ital@1&display=swap');

/* default react stuff */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* settings */
:root {
  --color-darkblue: #264653;
  --color-lightgreen: #5bc7ba;
  --color-yellow: #e9c46a;
  --color-orange: #f4a261;
  --color-red: #e76f51;
}

.code-font {
  font-family: 'Source Code Pro', monospace;
}

.text-function-color {
  color: var(--color-orange);
}

.text-parenthesis-color {
  color: var(--color-red);
}

.text-string-color {
  color: var(--color-lightgreen);
}

/* typewriter effect referenced from Geoff Graham */
.typewriter {
  position: relative;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  width: 34rem;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 34rem }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

html, body {
  background-color: var(--color-lightgreen);
  color: var(--color-yellow);
}

a, a:hover, a:link, a:active, a:visited {
  text-decoration: none;
  color: var(--color-yellow);
}

.heading {
  padding: 1.5rem;
  padding-left: 3rem;
  font-size: 2rem;
  color: var(--color-darkblue);
  font-weight: bolder;
  margin-left: 4rem;
}

.heading-parameter {
  cursor: pointer;
  text-decoration: underline dotted red;
}

.heading-parameter-selected {
  text-decoration: underline solid red;
}

.heading-parameter:hover {
  color: var(--color-red);
}

/* nav bar stuff */
.nav-bar {
  background-color: var(--color-darkblue);
  color: var(--color-darkblue);
  display: flex;
  gap: 2rem;
  padding: 4rem 2rem .5rem;
}

.nav-bar-item {
  color: var(--color-yellow);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3rem;
  z-index: 1000;
}

.nav-bar-item a:hover {
  color: var(--color-red);
  text-shadow: var(--color-lightgreen) 0px 0px 10px;
}

.nav-bar-item:nth-of-type(1) {
  margin-left: 4.7rem;
}

.about-btn:hover {
  cursor: pointer;
}

/* nav bar animation */
.nav-bar-open, .nav-bar-open a {
  animation: slide-in 0.5s ease-in-out;
  color: var(--color-orange);
}


.nav-bar-closed, .nav-bar-closed a {
  color: transparent;
  position: absolute;
  left: 6rem;
  pointer-events: none;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
    color: transparent;
  }
  100% {
    transform: translateY(0);
    color: var(--color-red);
  }
}

.nav-bar-underline-open {
  animation: open-underline 0.5s ease-in-out;
  color: var(--color-yellow);
  position: relative;
  top: 1.8rem;
  left: -35.2rem;
  border-top: 1px solid var(--color-yellow);
  width: 27rem;
}

.nav-bar-underline-closed {
  animation: close-underline 0.5s ease-in-out;
  position: relative;
  top: 1.8rem;
  left: -12.4rem;
  border-top: 1px solid var(--color-yellow);
  width: 0;
}

@keyframes open-underline {
  0% {
    width: 0;
  }
  100% {
    width: 27rem;
  }
}
  
@keyframes close-underline {
  0% {
    width: 27rem;
  }
  100% {
    width: 0;
  }
}

.contact-pushed {
  animation: push-contact 0.5s ease-in-out;
}

.contact-back {
  animation: pull-contact 0.5s ease-in-out;
}

@keyframes push-contact {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes pull-contact {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* home stuff */
.home-easter-egg {
  cursor: pointer;
}

.egg-found {
  content: "World says hi!";
  font-family: 'Source Code Pro', monospace;
  position: absolute;
  display: block;
  top: 9rem;
  left: 26.5rem;
  font-size: 15px;
  animation: pop-up 1s ease-in-out;
  background-color: var(--color-red);
  padding: 0.5rem;
  border-radius: 2rem;
  opacity: .5;
}

@keyframes pop-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.home-top-block {
  height: 40vh;
  background-color: var(--color-darkblue);
}

.home-pfp {
  position: absolute;
  height: 30vw;
  width: 30vw;
  border: 5px solid var(--color-red);
  right: 3rem;
  bottom: 3rem;
  border-radius: 5%;
  animation: border-trace 2s ease-in-out;
}

@keyframes border-trace {
  0% {
    border-color: transparent;
  }
  25% {
    border-top: 5px solid var(--color-red);
  }
  50% {
    border-right: 5px solid var(--color-red);
  }
  75% {
    border-bottom: 5px solid var(--color-red);
  }
  100% {
    border-left: 5px solid var(--color-red);
  }
}

.home-pfp img {
  border-radius: 4%;
  width: calc(30vw - 10px);
  height: calc(30vw - 10px);
  animation: initial-pfp 2s ease-in-out;
}

@keyframes initial-pfp {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.summary {
  margin-bottom: 2rem;
  font-size: 2rem;
  padding: 6rem 6rem;
  color: white;
  font-weight: bolder;
}

.summary div:nth-of-type(2){
  margin-top: 5rem;
}

.summary div:nth-of-type(2), .summary div:nth-of-type(3) {
  margin-left: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  animation: fade-in 1s ease-in-out;
}

.line-across {
  border-top: 2px solid var(--color-red);
  width: 100vw;
  margin: 0 auto;
  animation: extend 1s ease-in-out;
}

@keyframes extend {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* project stuff */
.project-collection {
  margin: 1rem auto 5rem;
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  gap: 6vw;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 14vw;
}

.display-project {
  display: flex;
  animation: flip-open-cards .5s ease-in-out;
}

.hide-project {
  display: none;
}


@keyframes flip-open-cards {
  from {
    opacity: 0;
    transform: rotate3d(1, 1, 1, 180deg) translate(100vw, 200vh) scale(0.01);
  }
  to {
    transform: translate(0, 0);
    display: block;
  }
}

/* collapsed */
.project-card-collapsed {
  width: 20vw;
  border: 5px solid var(--color-red);
  border-radius: 1rem;
  background-color: var(--color-orange);
  box-shadow: 0 0 0 5px var(--color-yellow);
  padding: 1rem;
  animation: collapse .5s ease-in-out;
}

@keyframes collapse {
  0% {
    width: 46vw;
  }
  100% {
    width: 20vw;
  }
}

.project-title {
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 1rem auto;
  color: var(--color-darkblue);
}

.project-thumbnail img{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: .5rem;
}

.project-description {
  font-size: 1.2rem;
  margin: 1rem auto;
  color: var(--color-darkblue);
  gap: 1rem;
  ;
}

.project-card-collapsed .project-date {
  font-size: 1.2rem;
  margin: 1rem auto;
  color: var(--color-darkblue);
}

.project-card-expand-button {
  margin: 1rem auto;
  border: 3px solid var(--color-yellow);
  border-radius: .5rem;
  background-color: var(--color-darkblue);
  font-size: 1.2rem;
  font-weight: bolder;
  color: white;
  padding: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  cursor: pointer;
  text-align: end;
}

/* expanded */
.project-card-expanded {
  width: 46vw;
  color: var(--color-darkblue);
  border: 5px solid white;
  border-radius: 1rem;
  background-color: var(--color-orange);
  box-shadow: 0 0 10px 5px var(--color-orange), inset 0 0 10px 5px var(--color-yellow);
  padding: 1rem;
  animation: expand .5s ease-in-out;
}

@keyframes expand {
  0% {
    width: 20vw;
    font-size: 1px;
  }
  100% {
    width: 46vw;
  }
}

.project-slide {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: .5rem;
  border: 5px solid var(--color-red);
}

.project-summary {
  font-size: 1.1rem;
  margin: 1rem auto;
  color: var(--color-darkblue);
  padding-left: .5rem; 
  padding-right: .5rem;
}

.project-link a:link, .project-link a:visited {
  color: var(--color-darkblue);
  text-decoration: none;
  font-size: 1.2rem;
}

.project-link a:hover {
  color: var(--color-red);
  text-shadow: var(--color-darkblue) 2px 2px 0;
}

.project-link a:active {
  color: var(--color-red);
  text-shadow: none;
}

.project-card-expanded .project-date {
  font-size: 1.2rem;
  margin: 1rem auto;
  color: var(--color-darkblue);
  text-align: center;
}

.project-card-collapse-button {
  margin: 1rem auto;
  border: 3px solid var(--color-yellow);
  border-radius: .5rem;
  background-color: var(--color-darkblue);
  font-size: 1.2rem;
  font-weight: bolder;
  color: white;
  padding: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  cursor: pointer;
  width: 20%;
  text-align: center;
  margin-left: 75%;
}

/* footer stuff */
.footer {
  background-color: var(--color-darkblue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* general animations */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* location bubble */
.user-location::after {
  content: "";
  position: absolute;
  background-color: var(--color-orange);
  border: 2px solid white;
  color: white;
  border-radius: 50%;
  padding: .25rem;
  margin-top: 2.1rem;
  margin-left: -2rem;
  box-shadow: var(--color-red) 0px 0px 10px;
  animation: fade-in .5s ease-in-out;
}

/* shapes */
.rotating-square {
  position: absolute;
  background-color: var(--color-red);
  border-radius: 15%;
  animation: rotate-square 4s infinite linear;
}

@keyframes rotate-square {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bouncing-circle {
  position: absolute;
  background-color: var(--color-yellow);
  border-radius: 50%;
  animation: bounce-circle 1s infinite ease-in-out;
}

@keyframes bounce-circle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2vw);
  }
  100% {
    transform: translateY(0);
  }
}